body {
    width: 880px;
}

header {
    position: relative;
    text-align: center;

}
.header img{
    width: 100%;
    height: 110px;
    margin-top: 47px;
    margin-bottom: 40px;
    overflow: hidden;

}

.header .title {
    font-family: Helvetica;
    font-size: 38px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    position: absolute;
    top: 2%;
    

}

h3 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    position: relative;
}

.brushes {
    background-color: green;
    position: relative;
}

.frames {
    background-color: lightcoral;
    position: relative;
}

.paint {
    background-color: skyblue;
    position: relative;
}

.font {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
    display: inline;
}